<aside>
  <div class="sidearea">
    <label for="pricerange"
      >Fiyat Aralığı: <span>${{ priceRange }}</span></label
    >
    <input
      [value]="priceRange"
      class="slider"
      id="pricerange"
      [type]="'range'"
      [min]="inputmin"
      [max]="inputmax"
      [step]="0.1"
      (change)="onchange($event)"
    />
    <span class="min">TL{{ inputmin }}</span>
    <span class="max">TL{{ inputmax }}</span>
  </div>
  <ng-content> </ng-content>
  <div class="sidearea callout">
    <h4>İletişim</h4>
    <p>Sorularınız ve fikirleriniz için bizimle iletişime geçin. <br> 
      <span style="font-weight: bold;" >
      cemozbey8@gmail.com
    </span> 
  </p>
  </div>
</aside>
